<!DOCTYPE html>
<html>
<head>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
</head>
<body class="background_fond">
    <div class="background_body">
        <div class="navbar-container">
            <nav class="navbar margin-page" >
                    <ul class="navbar-nav mr-auto" id="listArtist">
                    </ul>
            </nav>
        </div>
        <div class="content-field">
        <div id="main_display">
            
        </div>
        <div id="search_display">
            
        </div>
        <div class="row font-body"  id="artist_display">
                <div class="col-3">
                   <img id="photo_artist" class="artiste_portrait" src="./default.jpg">
                    <p id="name_artist" class="artist_name">LE NOM</p>
                    <li id="description_artist" class="artist_description">
                        <ul class="padding-list"><a id="description_artist_URL"></a></ul>
                        <ul id="description_artist_genre" class="padding-list"></ul>
                        <ul id="description_artist_followers" class="padding-list"></ul>
                        <ul id="description_artist_popularity" class="padding-list"></ul>
                    </li>
                </div>
                <div id="artist_albums" class="col-8 row scroll_album">
                </div>
        </div>
        <div id="card-album" class="opacity-card-album">
            <div class="card card-album">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-img-bottom">
                            <img src="default.jpg" id="card-album-img" class="card-image_album">
                        </div>
                    </div>            
                    <div class="col-md-8">
                        <div class="card-header bg-card font-navbar" id="card-album-title">
                            Album name
                        </div>
                        <div class="card-block bg-card scroll-box">
                            <ul class="list-group list-group-flush" id="card-album-song">
                            </ul>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="./conf.js"></script>
    <script src="./spotify.js"></script>
    <script src="./animation.js"></script>    
</body>
</html>